<div class="login">
  <div class="container-fluid">
    <div class="centered-form login-form">
      <div class="row">
        <div class="col-md-12">
          <div class="title">
            Sign In
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <form class="form" name="loginform" accept-charset="utf-8" novalidate autocomplete="off">
            <div class="form-group">
              <input type="text" name="email" class="form-control" placeholder="Email" ng-model="$ctrl.loginForm.email" required min="3" email-address />
              <div class="help-block" ng-messages="loginForm.email.$error" ng-show="loginForm.email.$touched">
                <span ng-message="required">Email is required.</span>
                <span ng-message="min">Email should be minimum 3 characters.</span>
                <span ng-message="invalidEmail">The email is invalid</span>
              </div>
            </div>
            <div class="form-group">
              <input type="password" name="password" class="form-control" placeholder="Password" ng-model="$ctrl.loginForm.password" required />
              <div class="help-block" ng-messages="loginForm.password.$error" ng-show="loginForm.password.$touched">
                <span ng-message="required">Password is required.</span>
              </div>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-default btn-block authentication-button" ng-click="$ctrl.login()" ng-disabled="loginForm.$invalid">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
