<div class="card-footer">
  <div class="row" ng-if="$ctrl.remainder">
    <div class="col-md-12">
      <remainder-indicator remainder-time="$ctrl.remainder"></remainder-indicator>
    </div>
  </div>
  <div class="row"  ng-if="!$ctrl.remainder">
    <div class="col-md-4" ng-if="$ctrl.taskCompleted || $ctrl.taskTotal">
      <task-indicator card-id="123" completed="$ctrl.taskCompleted" total="$ctrl.taskTotal"></task-indicator>
    </div>
    <div class="col-md-4" ng-if="$ctrl.comment">
      <comment-indicator comment-count="20"></comment-indicator>
    </div>
    <div class="col-md-4"  ng-if="$ctrl.sharedProfile">
      <shared-profile-indicator profile="$ctrl.sharedProfile"></shared-profile-indicator>
    </div>
  </div>
</div>
